$blueColor: #4d628b;
$pinkColor: #ff6584;
$whiteColor: #fff;

html,
body {
  height: 100%;
}

body {
  margin: 0 auto;
}

#root {
  height: 100%;
}

.App {
  background-color: $blueColor;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
  color: $whiteColor;
}

.form {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $whiteColor;
}
