$blueColor: #4d628b;
$pinkColor: #ff6584;
$whiteColor: #fff;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  height: 100%;
}

.App {
  background-color: $blueColor;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main-title {
  color: $whiteColor;
  padding: 45px 0 20px;
  text-align: center;
}

.main {
  flex: 1 1 auto;
}
