$blueColor: #4d628b;
$pinkColor: #ff6584;
$whiteColor: #fff;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(180deg, rgb(138, 174, 246), $blueColor);
}

html,
body {
  height: 100%;
}

body {
  margin: 0 auto;
}

#root {
  height: 100%;
}

.App {
  background-color: $blueColor;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
  color: $whiteColor;
}

.form {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $whiteColor;
}
