@import '../../scss/style.scss';
.back-btn {
  span {
    margin: 0;
  }
}

.column {
  margin-top: 10px;
  margin-right: 10px;
}
.column-task {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}
.task-create-btn {
  padding: 5px;
}

.column-title {
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  background-color: #ccc;
}

.dragActive {
  background-color: #3e527a;
}

.column.drag {
  box-shadow: 0 0 20px white;
}

.dragTasksActive {
  background-color: pink;
}

.column-title-header {
  cursor: pointer;
}
