@import '../../scss/style.scss';
.back-btn {
  span {
    margin: 0;
  }
}
.column {
  margin-top: 10px;
  margin-right: 10px;
}
.column-title {
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  background-color: #ccc;
}
.colum-title-header {
  cursor: pointer;
}
