@import '../../../../scss/style.scss';

.nav-menu a {
  text-decoration: none;
  cursor: default;
}

.nav-menu div {
  text-transform: uppercase;
  background-color: $whiteColor;
  color: $blueColor;
  font-weight: 700;
  font-size: 14px;
  width: max-content;
}

.nav-menu div svg {
  fill: #4d628b;
  width: 20px;
}

.nav-menu div:hover {
  background-color: #e1edef;
  border: none;
}
