@import '../../scss/style.scss';

.board {
  display: flex;
  flex-direction: column;
  margin: 20px;
  border: 3px solid $pinkColor;
  cursor: pointer;
  transition: 0.3s;

  &__title {
    background-color: $pinkColor;
    color: $whiteColor;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;

    h5 {
      font-weight: 700;
    }
  }

  a {
    text-decoration: none;
    color: $blueColor;
  }

  &__description {
    min-height: 50px;
    padding: 5px 10px;

    p {
      font-weight: 700;
      font-size: 18px;
    }
  }
}

.board:hover {
  transform: translateY(-1px);
}
